<div class="bg-black text-white min-h-[100vh] flex justify-center items-center flex-wrap">
  <div class="mx-[10%] max-w-[650px]">
    <div class="mb-20">
      <h2>
        TOP <br />
        <span class="text-orange-500">100</span> BUNDESLIGA<br>SPIELER
      </h2>
      <p class="text-orange-500 mt-5">ERSTELLT JULI 2023</p>
    </div>
    <p class="text-xl leading-7">
        <b>Willkommen bei dem Ranking "Die besten 100 Bundesligaspieler"</b>, einer ganzjährigen, rund um die Uhr aktualisierten Rangliste der Spieler, die momentan den größten Einfluss auf die Liga haben. Während der regulären Saison und auch in der Offseason werde ich diese Liste basierend auf aktuellen Ergebnissen regelmäßig aktualisieren. Schau regelmäßig vorbei, um überarbeitete Rankings, frische Analysen, neue Features, Fanbriefe von Freunden und Familie des Blogs und vieles mehr zu erhalten.
    </p>
  </div>

</div>
